* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 50px;
  color: white;
}
.logo h1 {
  font-size: 45px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin: 15px;
}
.icons {
  display: flex;
  gap: 22px;
}
.icons i {
  font-size: 24px;
  color: white;
}
.hero-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.hero-info {
  max-width: 600px;
  text-align: center;
}
.hero-info h1 {
  margin: 16px 0;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-info p {
  line-height: 30px;
  font-size: 22px;
}
.hero-info button {
  padding: 20px 50px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 100px;
  margin-top: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  min-height: 100vh;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: 300px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}
.line1 {
  max-width: 300px;
}
.line2 {
  max-width: 300px;
}
.line3 {
  max-width: 300px;
}
.line4 {
  max-width: 300px;
}
.line5 {
  max-width: 300px;
}
.line6 {
  max-width: 300px;
}
.image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.ad-section {
  background-color: rgb(242, 7, 7);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.ad-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
  background-color: black;
  border-radius: 15px;
  margin-top: 50px;
  height: 450px;
  padding: 20px;
}
.ad-box img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}
.ad-theory {
  max-width: 350px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .logo h1 {
    font-size: 35px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
  }
  .links a {
    font-size: 20px;
  }

  .hero-box {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
  }
  .hero-info {
    text-align: center;
    margin-left: 40px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25px;
    width: 100%;
    margin-top: 50px;
  }
  .item {
    gap: 10px;
    padding: 10px;
  }
  .line1 {
    max-width: 340px;
  }
  .line2 {
    max-width: 340px;
  }
  .line3 {
    max-width: 340px;
  }
  .line4 {
    max-width: 340px;
  }
  .line5 {
    max-width: 340px;
  }
  .line6 {
    max-width: 340px;
  }
  .ad-section {
    background-color: #07eef2;
    margin-top: 80px;
    width: 100%;
    margin-left: 25 px;
    padding: 20px;
  }
  .ad-box {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .ad-box img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .ad-theory {
    max-width: 300px;
  }
}
