@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
  }
  #menu {
    display: block;
    font-size: 30px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -70%;
    height: 100vh;
    width: 70%;
    background-color: #00ffff71;
    backdrop-filter: blur(15px);
    list-style-type: none;
    gap: 10px;
  }
  .links li {
    padding: 10px;
  }
  .logo-h2 {
    display: block;
    width: 150px;
    height: 150px;
  }
  .logo-h2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .icons i {
    font-size: 30px;
  }
  .closebtn i {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 60%;
    background-color: #00ffff71;
    backdrop-filter: blur(15px);
    list-style-type: none;
    gap: 10px;
  }
  .links li {
    padding: 10px;
  }
  #menu {
    display: block;
    font-size: 30px;
  }
  .logo-h2 {
    display: block;
    width: 150px;
    height: 150px;
  }
  .logo-h2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .closebtn i {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
  }
}
