* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}
.logo h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#menu {
  display: none;
}
.links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.links li {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo-h2 {
  display: none;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icons i {
  font-size: 23px;
}
.closebtn i {
  display: none;
}
