* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}
.logo h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#menu {
  display: none;
}
.links {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
a {
  text-decoration: none;
  color: black;
}
.links li {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo-h2 {
  display: none;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icons i {
  font-size: 23px;
}
.closebtn i {
  display: none;
}
.pname {
  font-size: 140px;
  margin-top: 150px;
  margin-left: 500px;
  overflow: hidden;
}
.pname span {
  display: inline-block;
}
.animated-txt {
  font-size: 70px;
  margin: 50px 0 0 540px;
  font-weight: 400;
  min-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}
.animated-txt span {
  position: relative;
}
.animated-txt span::before {
  content: "Frontend Developer";
  color: #fe4043;
  animation: words 20s infinite;
}
.animated-txt span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: white;
  right: -8px;
  border-left: 2px solid #fe4043;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  -webkit-animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid white;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Frontend Developer";
  }
  21%,
  40% {
    content: "Student";
  }
  41%,
  60% {
    content: "Coder";
  }
  61%,
  80% {
    content: "Developer";
  }
  81%,
  100% {
    content: "Gamer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100% {
    width: calc(100% + 8px);
  }
}
.anim-txt {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
  margin: 70px 0 0 550px;
}
.anim-txt span {
  position: relative;
}
.anim-txt span::before {
  content: "Frontend Developer";
  color: #fe4043;
  animation: words 20s infinite;
  -webkit-animation: words 20s infinite;
}
.anim-txt span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  right: -8px;
  background-color: white;
  border-left: 1px solid #fe4043;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  -webkit-animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 1px solid white;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Frontend Developer";
  }
  21%,
  40% {
    content: "Gamer";
  }
  41%,
  60% {
    content: "Nikhil kale";
  }
  61%,
  80% {
    content: "Student";
  }
  81%,
  100% {
    content: "Designer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%,
  100% {
    width: calc(100% + 8px);
  }
}
